<!DOCTYPE html>
<html>
<head>
    <title>Breath Holding Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Breath Holding Test</h1>
        </div>
        <div class="content">
            <p>Welcome to the Breath Holding Test!</p><br>
            <h2>Rules to be followed before taking the test:</h2><br>
            <p>Take a deep breath within the first 5 seconds. If you can't hold your breath, press Submit.</p>
            <p>Please enter your username to start the test:</p>
            <form method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br><br>
                <input type="submit" value="Start Test" class="button">
            </form>
            <p><a href="{{ url_for('leaderboard') }}">View Leaderboard</a></p>
        </div>
    </div>
</body>
</html>

