body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #FFF2D7;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #D3C5E5;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #000000;
    border-radius: 10px 10px 0 0;
}

.header h1 {
    color: #735DA5;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}
.content {
    padding: 20px;
}

.content p {
    font-size: 18px;
    color: #333333;
    margin-bottom: 20px;
}

.button {
    background-color: #87ceeb;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #000000;
}
.result {
    background-color: #ffffcc;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
}

.result h2 {
    color: #66b3ff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.leaderboard {
    background-color: #c9e4ca;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
}

.leaderboard h2 {
    color: #66b3ff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #008000;
}

a:hover {
    color: #00b300;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #87ceeb;
    color: #ffffff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4682b4;
}

